iframe {
    border: none;
    height: 1000px;
    width: 500px;
    padding: 32px;
    background-color: silver;
}

body {
    background-color: rgb(85, 85, 85);
}

h2 {
    padding: 32px;
    color: white;
}