body{
    background-image: url(./../images/car.jpg);
    background-attachment: fixed;   
    background-size: cover;
    background-position: center;
    font-family: ubuntu;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    font-family: Calibri;
    padding: 20px;
    background: #f6f6f6;
    color: #555;
    position: relative;
    border: 1px solid #e6e6e6;
    height: 100%;
	background-color:black;
	background: rgba(20, 20, 20, .5);
	color:white;
}

/* li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
} */

li span{
    display: block;
    padding: 5px;
    width: 15%;
    position: relative;
    padding: 10px;
    margin: 2px;
    border: 2px;
    /* border-color: black;
    border-style: solid; */
    font-size: 15px;
}

li span.photo{
    text-align: center;
    font-size: 23px;
    height: 100px;
    width: 80px;
    margin: 5px;
    /* border-style: solid;
    border-color: black; */
}

li div.stats_section{
    /* display: inline; */
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    height: auto;
    width: 70%;
    padding: 10px;
    margin: 2px;
    border: 2px;
    /* border-color: red;
    border-style: solid; */
    font-size: 18px;
}

li div.img_div {
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    height: auto;
    width: 20%;
    padding: 10px;
    margin: 2px;
    border: 2px;
    /* border-color: red;
    border-style: solid; */
    font-size: 18px;
}

img {
    position: absolute;
    top: 20%;
    left: 20%;
    margin: 5px;
    border-style: solid;
    border-color: black;
}

li div.cross{
    font-family: monospace;
    position: absolute;
    top: 0;
    right: 0px;
    background: inherit;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
	
}



.content{
    background-color:black;
	background: rgba(20, 20, 20, .5);
    width: 90%;
    margin: 30px;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    scroll-behavior: auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    position:center;
}


.s {
	background-color:black;   
   background: rgba(20, 20, 20, .5);
    max-width: 100%;
    margin: auto;
    width: 60%;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    scroll-behavior: auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    margin-left: 30%;
}



